# Prophet build-time and runtime dependencies
numpy<1.24
pandas<2.0
Cython>=0.22
pystan<3
convertdate
ephem
setuptools-git
LunarCalendar
holidays
tqdm
matplotlib>=2.0.0

# Prophet itself
prophet==1.0

# Other service dependencies
Flask==2.2.3
scikit-learn==1.2.2